extends layout
block content

  h1 #{title}
  p Math.acos() is applied to #{number2} is #{acos}
  p f{Math.sin()} applied to #{number1} is #{sin}
  p Math.abs () is applied to #{number4} is #{abs}
  p Math.sinh () is applied to #{number3} is #{sinh}
